@model IEnumerable<WebApp1.Models.Question>

<a href="javascript: history.go(-1)">Go Back</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Q)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Choice1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Choice2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Choice3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Choice4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Choice5)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Q)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Choice1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Choice2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Choice3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Choice4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Choice5)
            </td>
                
        </tr>
}
    </tbody>
</table>
