@model WebApp1.Models.Quiz

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Quiz</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Question)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Question)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Choice1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Choice1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Choice2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Choice2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Choice3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Choice3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Choice4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Choice4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Choice5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Choice5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Answer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Answer)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
